/claseAbstracta/nbproject/private/
/claseAbstracta/build/
/Parcial2/Exceptions/nbproject/private/
/Parcial2/PracticaSDBD/nbproject/private/
/Parcial2/PracticaSDBD/build/
/Parcial2/Practica2/nbproject/private/
